header {
  background: #122632;
  color: #F15C22;
  display: flex;
  padding: 1em;
  text-align: left;
}
th, td {
  padding: 3px;
  text-align: center;
}
header > a {
  flex: 1;
}

header a {
  color: inherit;
  text-decoration: none;
}

header img {
  cursor: pointer;
}

nav {
  background: #F15C22;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav a {
  color: #122632;
  display: block;
  padding: 1em;
  text-decoration: none;
}

input {
  position: absolute;
  left: -9999em;
}

nav, input {
  display: none;
}

input:checked + nav {
  display: block;
}
nav, input {
  display: none;
}input:checked + nav {
  display: block;
}
body {
  font: 100%/1.1 'Courier', sans-serif;
  margin: 0;
  text-align: center;
  max-width: 510px;
  }
  
   
  
/* header {
  max-width: 510px;
  position: fixed;
  
  top: 0;
  
  left: 0;
  
  right: 0;
  
  height: 50px;
  
  line-height: 50px;
  
  background-color: #eee;
  text-align: center;
  
  }
   */
   
  
  /* header * {
  
  display: inline;
  
  height: 50px;
  
  }
  
   
  
  headerul {
  
  padding: 0;
  
  }
  
   
  
  header li {
  
  margin-left: 20px;
  
  }
  
   
  
  section {
  
  height: 100vh;
  
  border: 1px solid black;
  
  display: flex;
  
  justify-content: center;
  
  align-items: center;
  
  text-align: center;
  
  }
  
   
  
  #hero .profile-img {
  
  width: 300px;
  
  }
  
   
  
  footer {
  
  text-align: center;
  
  padding: 50px;
  
  } */